<div class="main-container">
    <header>
        <mat-card class="card-header" fxLayoutAlign="start center" fxLayoutGap="5px" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title>
                <i class="fa-solid fa-chalkboard-user"></i>
                FACTURE PROFESORES
            </mat-card-title>
            <div class="header-right" fxLayoutGap="5px">
                <a routerLink="/instructores">
                    <button mat-raised-button>Atras</button>
                </a>
            </div>
        </mat-card>
    </header>
    <div class="body-container">
        <h1>andamos en el formulario para agregar docente</h1>
    </div>
</div>