<div class="main-container">
    <header>
        <mat-card class="card-header" fxLayoutAlign="start center" fxLayoutGap="5px" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title>
                <i class="fa-solid fa-chalkboard-user"></i>
                FACTURE PROFESORES</mat-card-title>
            <div class="header-right">
                <a routerLink="/instructores">
                    <button mat-raised-button>Profesores</button>
                </a>
            </div>
        </mat-card>
    </header>
    <div class="body-container">

        <div class="form-container" fxLayout="column" fxLayoutAlign="start center">
            <mat-card fxLayout="column">
                <mat-card-title>
                    Agregar una clase
                </mat-card-title>
            
                <mat-card-content >
                    <form [formGroup]="LessonsForm" (ngSubmit)="submit()">
                        <div fxLayout="row" fxLayout="column" fxLayoutGap="25px" fxLayoutGap="5px">
            
                            <!-- <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Fecha de la clase</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="lessonDate" >
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button class="date-button" (click)="picker.open()">Open</button> -->

                            <mat-form-field>
                                <mat-label>Fecha de la clase MM/DD/AAAA</mat-label>
                                <input matInput formControlName="lessonDate">
                            </mat-form-field>
    
                            <mat-form-field>
                                <mat-label>Duracion de la clase(min)</mat-label>
                                <input matInput formControlName="durationLesson">
                            </mat-form-field>
            
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutAling="end">
                            <button mat-raised-button type="submit" [disabled]="!ActiveButton()">Crear</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>



    </div>
</div>